[Unit]
Description=RPM for tool for mocking HTTP services
After=network.target

[Service]
Type=simple
User=wiremock
Group=wiremock
ExecStart=/usr/bin/java -jar /usr/lib/wiremock/wiremock.jar
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
